<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Course viewer - index</title>
        <link rel="stylesheet" href="/static/index.css" />
        <link rel="stylesheet" href="/static/shared.css" />
    </head>
    <body>
        <div class="course-viewer-embed">
            <a href="{{ url_for('index') }}" class="course-viewer-btn"
                >Courses</a
            >
        </div>
        <h1>List of Certificates</h1>
        <ul>
            {% for course_id in courses %}
            <li>
                {% if loop.index == count-10 %}
                <div id="anchor"></div>
                {% endif %}
                <h2>{{course_id}}</h2>
                <div class="links">
                    <a
                        href="{{ url_for('certificate', course_id=course_id) }}"
                        class="course-viewer-btn"
                    >
                        Course Viewer
                    </a>
                    <a
                        href="http://localhost:3000/uk/verifycertificate/?courseId={{course_id}}"
                        class="course-viewer-btn"
                    >
                        Workademy
                    </a>
                </div>
                <iframe
                    src="{{url_for('certificate', course_id=course_id)}}?noheader"
                    width="100%"
                    height="500px"
                    title="certificate {{course_id}}"
                    loading="lazy"
                ></iframe>
            </li>
            {% endfor %}
        </ul>
        <div class="show-more">
            <a
                href="{{ url_for('certificates', count=count+10, _anchor='anchor') }}"
                >Show more</a
            >
        </div>
    </body>
</html>
